:javascript
  PNotify.prototype.options.styling = "bootstrap3";
  var screenshots = #{settings.screenshot_files};
  var imagesList = [];
  for (var i = 0; i < screenshots.length; i++) {
    imagesList.push({img: "img/screenshots/" + screenshots[i], caption: screenshots[i].replace(/screenshot_/, '').replace(/\.png/, '')});
  }
  $(document).ready(function() {
    loadDevicesList();
  });
  $(window).load(function() {
    setMarginOfContent();
  });
  $(window).on('resize', function() {
    setMarginOfContent();
  });
  function setMarginOfContent() {
    $('.container-fluid').css('marginTop', $('.top-banner').height());
  }
  function showNotification(text, type) {
    new PNotify({
      type: type,
      title: false,
      text: text,
      icon: true,
      shadow: true,
      animation: 'fade',
      animate_speed: 'slow',
      delay: 2000,
      remove: true
    });
  }
  function selectDevice() {
    var device = '#{session[:device_sn]}';
    $('input[name=device_sn][value="'+device+'"]').click();
    var installed_packages = []
    if (device.length > 0) {
      installed_packages = #{list_installed_packages(session[:device_sn])}
    }
    $('#packageName').autocomplete({ source: installed_packages });
  }
  function loadDevicesList() {
  $("#refresh_button").attr("disabled", true);
  $("#action_container").css("visibility", "hidden");
  $("#devicesList").append($("<br>")).append($("<h1>").text("Loading Devices, please wait"));
    $.get('/api/devices', function(data) {
      $("#devicesList").empty();
      if (data.length > 0) {
        $("#devicesList").append($("<table>").attr("class", "table table-striped table-hover").append($("<thead>").append($("<tr>").append($("<td>").text("Serial Number")).append($("<td>").text("Manufacturer")).append($("<td>").text("OS Version")).append($("<td>").text("App Version")).append($("<td>").text("Battery")).append($("<td>").text("Model")))).append($("<tbody>")));
        data.forEach(function(item) {
          $("#devicesList").find("tbody").append($("<tr>").click(function() { $(this).find("td input:radio").prop("checked", true); }).append($("<td>").text(item.sn)).append($("<td>").text(item.manufacturer)).append($("<td>").text(item.release)).append($("<td>").text(item.app_version)).append($("<td>").text(item.battery)).append($("<td>").text(item.model)));
        });
          $("#action_container").css("visibility", "visible");
          $("#refresh_button").attr("disabled", false);

        } else {
        $("#devicesList").append($("<br>")).append($("<h1>").text("No Devices found"));
      }
    });
  }
  function updateAndroidApp() {
    showNotification('Groupon App is been updated', 'success')
    $.ajax({
      url: '/api/devices/update_android_groupon',
      type: 'POST',
      success: function(result) { showNotification('Groupon App has been updated successfully ', 'success'); },
      error: function(result) { showNotification('Error while updating groupong app', 'error'); }
    });
  }
%div{:class => "vertical-center"}
  %h2{:class => "vertical-center", :style => "display: inline-block;"} Devices List
  %button{:type => "button", :id =>"refresh_button", :class => "btn btn-warning vertical-center", :onclick => "loadDevicesList()", :style => "display: inline-block; margin-left: 10px;"} ↻
%form{:role => "form", :action => "/devices/", :method => "post"}
  %div{:id => "devicesList"}

%div{:id =>"action_container"}
  %button{:type => "button", :class => "btn btn-warning vertical-center", :onclick => "updateAndroidApp()", :style => "display: inline-block; margin-left: 10px;"} Update Android Groupon App
  %form{:role => "form", :action => "/api/devices/update_android", :method => "post"}
    %h3{:class => "vertical-center", :style => "display: inline-block;"} Install apk in ALL devices from URL
    %div{:class => "new-line ui-widget"}
      %input{:type => "text", :class => "form-control", :id => "appUrl", :name => "app_url", :placeholder => "http://my.url/apk"}
    %div{:class => "new-line"}
      %button{:type => "submit", :class => "btn btn-success center-block"} Install apk

  %form{:role => "form", :action => "/api/devices/update_ios", :method => "post"}
    %h3{:class => "vertical-center", :style => "display: inline-block;"} Install IOS app in ALL iOS devices from URL
    %div{:class => "new-line ui-widget"}
      %input{:type => "text", :class => "form-control", :id => "appUrl", :name => "app_url", :placeholder => "http://my.url/iosAPP"}
    %div{:class => "new-line"}
      %button{:type => "submit", :class => "btn btn-success center-block"} Install iOS app

